@import "tailwindcss";

@theme {
  --color-navy: #0B1F3A;
  --color-brand: #1E4FA3;
  --color-skylight: #EAF1FB;
  --color-cardgray: #F4F6FA;
  --color-graytext: #5B6472;

  --font-sans: "Inter", sans-serif;
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 4s ease-in-out infinite;
  animation-delay: 1.5s;
}